@media screen and (max-width: 1280px) {
	
    .header{
	    width: auto;
    }

    .wrapper{
        width: auto;
    }

    .top{
        width: auto;
    }

    .main .container{
        width: auto;
    }

}

@media screen and (max-width: 1160px) {

    .nav img{
        margin-left: 20px;
    }

    /* ----------漢堡選單---------- */
    .header .nav i{
        display: block;
    }

    .header .nav i{
        color: white;
        font-size: 36px;
        margin-right: 20px;
    }

    .navbar{
        position: absolute;
		background-color: #4A97D8;
		left: 0;
		top: 100px;
		width: 100%;
        display: none;
    }

    .navbar a{
        font-size: 24px;
        text-align: center;
        line-height: 160%;
        margin: 20px auto;

    }

    .navbar .btn1{
        font-size: 24px;
        margin: 0 auto;
        background-color: #3460A4;
        width: 162px;
        height: 30px;
    }

    .nav i:hover ~ .navbar {
        display: block;
    }

    /* ---------頁籤--------- */
    .top {
        padding-left: 8px;
    }

    /* ---------中間電影圖卡區塊--------- */
    .main .container{
        width: auto;
        gap: 16px;
        justify-content: center;
    }

    .main .list{
        width: auto;
        margin: 0;
    }

    .main .list img{
        width: 257px;
    }

    .main .list h3{
        width: 257px;
    }

    .main .list h5{
        width: 257px;
    }

    .main .list .badgelist ul{
        width: 257px;
    }

    .main .list button{
        width: 257px;
    }

}

@media screen and (max-width: 800px) {

    /* ---------頁籤--------- */
    .top{
        justify-content: center;
    }

    .top .tab1{
        font-size: 24px;
    }

    .top .tab2{
        font-size: 24px;
    }

    /* ---------中間電影圖卡區塊--------- */
    .main .list{
        width: auto;
    }

    .main .list img{
        width: 195px;
        height: 279px;
    }

    .main .list h3{
        width: 195px;
        height: 52px;
        font-size: 16px;
        line-height: 160%;
    }

    .main .list h5{
        width: 195px;
        height: 44px;
        font-size: 14px;
        line-height: 160%;
    }

    .main .list p{
        font-size: 14px;
        line-height: 160%;
    }

    .main .list .badgelist ul{
        width: 195px;
        font-size: 14px;
    }

    #sixth{
        display: none;
    }

    .main .list button{
        width: 195px;
        height: 40px;
        font-size: 20px;
    }

    /* --------footer-------- */
    .footer{
        height: 65px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly
    }

    .footer p{
        font-size: 12px;
        margin-top: 0;
    }

    .footer a{
        font-size: 12px;
        margin-top: 0;
    }
}

@media screen and (max-width: 430px) {

    /* ---------頁籤--------- */
    .top{
        justify-content: space-evenly;
        margin-right: 0;
        padding-left: 0;
    
    }
}